<link rel="stylesheet" href="../css/car.css"/>
<header>
    <div class="logo"><img src="../images/login/logo_e.png" alt=""/></div>
    <ul class="head-nav">
        <li><a style="cursor: pointer">YOHO!有货</a></li>
        <li><a>
            <span ng-show="user" style="color: gold;cursor: pointer"><img class="ph" src="../images/home/phone.png" alt=""/>欢迎你:{{phone[0].u_name}}<label ng-click="logOut()" style="cursor: pointer;color:red;margin-left: 20px">注销</label></span>
            <span ng-hide="user"  style="cursor: pointer" ng-click="goLogin()" id="login"><img class="ph" src="../images/home/phone.png" alt=""/>请登录</span>
        </a></li>
        <li ng-hide="user"><a style="cursor: pointer" ng-click="goReg()"><img class="ph" src="../images/login/phone.png" alt=""/>注册</a></li>
        <li><a style="cursor: pointer">MY有货</a></li>
        <li><a style="cursor: pointer">订单中心</a></li>
        <li><a style="cursor: pointer">帮助中心</a></li>
        <li><a style="cursor: pointer"><img class="ph" src="../images/login/phone.png" alt=""/>400-889-9646</a></li>
        <div class="clear"></div>
    </ul>
    <div class="clear"></div>
</header>
<div class="content1">
    <img src="../images/02b654014c9eada3af4e4ed62ac1760bf0.png" alt=""/>
</div>
<!--============content!!!!start============-->
<div class="content-warp">
    <div class="from-header">
        <span class="span1 span">商品信息</span>
        <span class="span2 span">单价(元)</span>
        <span class="span3 span">返YOHO币</span>
        <span class="span4 span">数量</span>
        <span class="span5 span">小计(元)</span>
        <span class="span6 span">操作</span>
    </div>
    <div class="from-body">
        <div class="body1"><input class="checkbox" type="checkbox"/> 普通商品</div>

        <span ng-repeat="carinfo in carData">
            <div class="body2">
                <span class="span11 spans">
                    <input class="checkbox" type="checkbox"/>
                    <img ng-src="../images/all/{{carinfo.p_detail_imgCHIMA}}" alt=""/>
                    <a class="buy-info" style="cursor: pointer">{{carinfo.p_name}}</a>
                    <label>{{carinfo.sc_size}}</label>
                </span>
                <span class="span22 spans">￥{{carinfo.p_price}}</span>
                <span class="span33 spans">10</span>
                <span class="span44 spans">
                    <input ng-click="add_minus(carinfo.sc_u_id,carinfo.sc_p_id,carinfo.sc_count,-1)" class="quantity" type="button" value="-"/>
                    <input  class="number" type="text" ng-value={{carinfo.sc_count}}>
                    <!--<span>{{carinfo.sc_count}}</span>-->
                    <input ng-click="add_minus(carinfo.sc_u_id,carinfo.sc_p_id,carinfo.sc_count,1)" class="quantity" type="button" value="+"/>
                </span>
                <span class="span55 spans">￥{{carinfo.p_price * carinfo.sc_count}}</span>
                <span class="span66 spans">
                    <input ng-click="delBtn(carinfo.sc_u_id,carinfo.sc_p_id)" class="delete" type="button" value="删除"/>
                    <input class="shoucang" type="button" value="移入收藏"/>
                </span>
            </div>
        </span>
    </div>

    <div class="from-footer">
        <div class="from-footer-left">
            <input class="checkbox" type="checkbox"/>
            <span>全选</span>
            <span>批量删除</span>
            <span>批量移入收藏夹</span>
        </div>
        <div class="from-footer-right" >
            <span ng-show="user">商品总价（￥{{totalPrice}}）- 活动（￥0.00）= 商品金额总计（￥{{totalPrice}}）</span>
            <span ng-show="user" class="buyer1">获赠YOHO币：0个　商品总价（不含运费）：<span  class="buyer2">￥{{totalPrice}}</span>元</span>
        </div>
        <div class="clear"></div>
    </div>
    <!----------------------->
</div>
    <div class="content2">
        <input ng-click="goList()" class="goon" type="button" value="再逛逛"/>
        <input class="Clearing" type="button" value="去结算"/>
    </div>
<!--==================================================================-->
<div class="footer">
    <ul class="footer-ul">
        <li><a style="cursor: pointer">关于我们</a></li>
        <li><a style="cursor: pointer">联系我们</a></li>
        <li><a style="cursor: pointer">版权声明</a></li>
        <li><a style="cursor: pointer">隐私条款</a></li>
        <li><a style="cursor: pointer">意见反馈</a></li>
        <li id="footer-li-last"><a style="cursor: pointer">友情链接</a></li>
        <div class="clear"></div>
    </ul>
    <p class="footer-p">CopyRight &copy; 2015 南京新與力文化傳播有限公司 蘇ICP備09011225號</p>
</div>
